<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div class="box" style="margin: 3px">
<%#= render :partial => 'update_logtime', :collection => col %>
  <%= render :partial => 'quicklog_form' %>

  <%= button_to_function 'Save', "Request.saveRecordedTime($('quicklog_form_#{@issue.id}'), true);",
    :id => 'save_logtime_button' %>
  <%= button_to_function 'Save and stop', "saveTimeAndStop($('quicklog_form_#{@issue.id}'))",
    :id => 'saveAndCloseButton' %>
  <%= button_to_function 'Cancel', 'cancelSaving()' %>
</div>
